 <app-header (onMenuBtnClick)="toggle()"> </app-header>

 <mat-drawer-container class="example-container">

   <mat-drawer mode="side" [opened]="sidebarOpened">
    <!-- side bar -->
 <app-sidebar></app-sidebar>
   </mat-drawer>


<!-- dashboard -->


    <mat-drawer-content>

      <router-outlet></router-outlet>
      
    </mat-drawer-content>
  </mat-drawer-container>
  
  
  <mat-divider></mat-divider>           <!-- for a line to top of footer -->

<!-- footer -->
 <app-footer></app-footer>